.App {
  background: linear-gradient(to right, #D1913C, #FFD194);
  width: 100%;
  height: 100vh;
  margin: 0;
  text-align: center;
}

.title {
  margin: 0 0 50px;
  color: white;
  padding: 100px 0 20px;
  font-size: 40px;
  font-weight: 500;
  border-bottom: 2px solid white;
}

.app-container {
  display: grid;
  grid-template-columns: 1fr 1.5fr;
}